<div>
  <div class="columns">
  	<div class="column is-half">
  		  <h3 class="is-size-3">Uređivanje postojećih članaka</h3>
		  <form (ngSubmit)="updSadrzaj(trenutniSadrzaj)" #sadrzajForm="ngForm">
			  <div class="field">
			  	<label class="label">
			  		Odabir članka za uređivanje:
			  	</label>
			  	<div class="control">
				  	<div class="select">
				  		<select #selectSadrzaj (change)="setNoviClanak(selectSadrzaj.value)">
						  	<option disabled selected value> -- Odaberi članak -- </option>
						  	<option *ngFor="let clanak of sadrzaj" [value]="sadrzaj.indexOf(clanak)">
						  		{{ clanak.name }}
						  	</option>
						</select>
				  	</div>
			  	</div>
			  </div>
			  <div *ngIf="trenutniSadrzaj">
		    	<div class="field">
		    		<label for="name" class="label">Ime</label>
		    		<div class="control">
		    			<input type="text" id="name" required [(ngModel)]="trenutniSadrzaj.name" name="name" #name="ngModel" class="input">
		    		</div>
		    		<span [style.display]="name.valid?'none':'inline-block'" class="red-alert">
		    			Naslov nije unesen - sadržaj mora imati ime / naslov
					</span>
		    	</div>
		    	<div class="field">
		    		<label for="text" class="label">Tekst</label>
		    		<div class="control">
						<textarea type="text" id="text" required [(ngModel)]="trenutniSadrzaj.text" name="text" class="textarea" #textareaControl="ngModel"></textarea>
						<span [style.display]="textareaControl.valid?'none':'inline-block'" class="red-alert">
							Sadržaj mora imati tekst
						</span>
		    		</div>
		    	</div>
		    	<div *ngIf="trenutniSadrzaj.pic">
					<label class="label">Slika (odaberi jednu od opcija)</label>
					<div class="tabs is-fullwidth">
						<ul>
							<li [className]="activeTabTrenutni===1?'is-active':''">
								<a (click)="toggleActiveTab('trenutni', 1)">
									<span>
										Odaberi postojeću
									</span>
								</a>
							</li>
							<li [className]="activeTabTrenutni===2?'is-active':''">
								<a (click)="toggleActiveTab('trenutni', 2)">
									<span>
										Uploadaj novu
									</span>
								</a>
							</li>
							<li [className]="activeTabTrenutni===3?'is-active':''">
								<a (click)="toggleActiveTab('trenutni', 3)">
									<span>
										Upiši vanjski link
									</span>
								</a>
							</li>
						</ul>
					</div>
					<br>
					<div class="imgList" *ngIf="activeTabTrenutni===1">
						<a *ngFor="let img of savedImgs" (click)="selectImgFromSrv('trenutni', img)">
							<figure>
								<img src="uploads/img/{{img}}">
								<figcaption>
									{{ img.length<15?img:img.slice(0,12)+'...' }}
								</figcaption>
							</figure>
						</a>
					</div>
					<div *ngIf="activeTabTrenutni===2">
						<div class="file">
							<label class="file-label">
								<input (change)="imgChangeEvent('trenutni', $event)" class="file-input" type="file" #imgInputTrenutni name="datoteka" [required]="!trenutniSadrzaj.img">
								<span class="file-cta">
								<span class="file-icon">
									<i class="fa fa-upload"></i>
								</span>
								<span class="file-label">
									Uploadaj novu sliku...
								</span>
								</span>
							</label>
						</div>
					</div>
					<div class="field" *ngIf="activeTabTrenutni===3">
						<div class="control">
							<input type="text" (keyup)="setExtLink('trenutni', $event)" name="img" class="input" placeholder="npr. http://via.placeholder.com/350x150" [required]="!trenutniSadrzaj.img">
						</div>
					</div>
					<div class="is-clearfix"></div>
					<br>
					<span>
						Trenutno odabrana slika: {{ trenutniSadrzaj.img }}
					</span>
					<br>
				</div>
		    	<img *ngIf="trenutniSadrzaj.img" [src]="trenutniSadrzaj.img">
		    	<br>
		    	<button type="submit" [disabled]="!sadrzajForm.form.valid || validateImg('trenutni')" class="button is-info">
		    		Spremi promjene
		    	</button>
		    	<button (click)="delSadrzaj(selectSadrzaj.value)" class="button is-danger">
		    		Izbriši članak
		    	</button>
		    </div>
		  </form>
  	</div>
  	<div class="column is-half">
  		<h3 class="is-size-3">Dodavanje novog članka</h3>
  		<form (ngSubmit)="addSadrzaj()" #addSadrzajForm="ngForm">
  			<div class="field">
  				<label for="clanakType" class="label">
  					Tip članka
  				</label>
	  			<div class="select">
	  				<select #selectTip (change)="setTip()" required name="clanakType" class="select">
	  					<option selected value="false">Bez slike</option>
	  					<option value="true">Sa slikom</option>
	  				</select>
	  			</div>
  			</div>
  			<div class="field">
  				<label for="noviClanakName" class="label">
  					Ime
  				</label>
  				<div class="control">
  					<input type="text" [(ngModel)]="newSadrzaj.name" required name="noviClanakName" class="input">
  				</div>
  			</div>
  			<div class="field">
	    		<label for="noviClanakText" class="label">Tekst</label>
	    		<div class="control">
	    			<textarea type="text" [(ngModel)]="newSadrzaj.text" required name="noviClanakText" class="textarea"></textarea>
	    		</div>
			</div>
			<div *ngIf="clanakSlika">
				<label class="label">Slika (odaberi jednu od opcija)</label>
				<div class="tabs is-fullwidth">
					<ul>
						<li [className]="activeTab===1?'is-active':''">
							<a (click)="toggleActiveTab('novi', 1)">
								<span>
									Odaberi postojeću
								</span>
							</a>
						</li>
						<li [className]="activeTab===2?'is-active':''">
							<a (click)="toggleActiveTab('novi', 2)">
								<span>
									Uploadaj novu
								</span>
							</a>
						</li>
						<li [className]="activeTab===3?'is-active':''">
							<a (click)="toggleActiveTab('novi', 3)">
								<span>
									Upiši vanjski link
								</span>
							</a>
						</li>
					</ul>
				</div>
				<br>
				<div class="imgList" *ngIf="activeTab===1">
					<a *ngFor="let img of savedImgs" (click)="selectImgFromSrv('novi', img)">
						<figure>
							<img src="uploads/img/{{img}}">
							<figcaption>
								{{ img.length<15?img:img.slice(0,12)+'...' }}
							</figcaption>
						</figure>
					</a>
				</div>
				<div *ngIf="activeTab===2">
					<div class="file">
						<label class="file-label">
							<input (change)="imgChangeEvent('novi', $event)" class="file-input" type="file" #imgInput name="datoteka" [required]="!newSadrzaj.img">
							<span class="file-cta">
							<span class="file-icon">
								<i class="fa fa-upload"></i>
							</span>
							<span class="file-label">
								Uploadaj novu sliku...
							</span>
							</span>
						</label>
					</div>
				</div>
				<div class="field" *ngIf="activeTab===3">
					<div class="control">
						<input type="text" (keyup)="setExtLink('novi', $event)" name="noviClanakImg" class="input" placeholder="npr. http://via.placeholder.com/350x150" [required]="!newSadrzaj.img">
					</div>
				</div>
				<div class="is-clearfix"></div>
				<br>
				<span>
					Trenutno odabrana slika: {{ newSadrzaj.img }}
				</span>
				<br>
			</div>
			<br>
			<button type="submit" [disabled]="!addSadrzajForm.form.valid || validateImg('novi')" class="button is-info">Dodaj članak</button>
  		</form>
  	</div>
	</div>
</div>
