<div>
  <div class="columns">
  	<div class="column">
  		  <h3 class="is-size-3">Uređivanje postojećih članaka</h3>
		  <form (ngSubmit)="updSadrzaj(trenutniSadrzaj)" #sadrzajForm="ngForm">
			  <div class="field">
			  	<label class="label">
			  		Odabir članka za uređivanje:
			  	</label>
			  	<div class="control">
				  	<div class="select">
				  		<select #selectSadrzaj (change)="setNoviClanak(selectSadrzaj.value)">
						  	<option disabled selected value> -- Odaberi članak -- </option>
						  	<option *ngFor="let clanak of sadrzaj" [value]="sadrzaj.indexOf(clanak)">
						  		{{ clanak.name }}
						  	</option>
						</select>
				  	</div>
			  	</div>
			  </div>
			  <div *ngIf="trenutniSadrzaj">
		    	<div class="field">
		    		<label for="name" class="label">Ime</label>
		    		<div class="control">
		    			<input type="text" id="name" required [(ngModel)]="trenutniSadrzaj.name" name="name" #name="ngModel" class="input">
		    		</div>
		    		<span [style.display]="name.valid?'none':'inline-block'" class="red-alert">
		    			Naslov nije unesen - sadržaj mora imati ime / naslov
					</span>
		    	</div>
		    	<div class="field">
		    		<label for="text" class="label">Tekst</label>
		    		<div class="control">
		    			<textarea type="text" id="text" required [(ngModel)]="trenutniSadrzaj.text" name="text" class="textarea"></textarea>
		    		</div>
		    	</div>
		    	<div *ngIf="trenutniSadrzaj.img" class="field">
		    		<label for="img" class="label">Slika</label>
		    		<div class="control">
		    			<input type="text" id="img" [(ngModel)]="trenutniSadrzaj.img" name="img" class="input">
		    		</div>
		    		<p class="help">Ako ne bude odabrana nijedna slika, bit će postavljena defaultna "placeholder" slika</p>
		    	</div>
		    	<img  *ngIf="trenutniSadrzaj.img" [src]="trenutniSadrzaj.img">
		    	<br>
		    	<button type="submit" [disabled]="!sadrzajForm.form.valid" class="button is-info">
		    		Spremi promjene
		    	</button>
		    	<button (click)="delSadrzaj(selectSadrzaj.value)" class="button is-danger">
		    		Izbriši članak
		    	</button>
		    </div>
		  </form>
  	</div>
  	<div class="column">
  		<h3 class="is-size-3">Dodavanje novog članka</h3>
  		<form (ngSubmit)="addSadrzaj()" #addSadrzajForm="ngForm">
  			<div class="field">
  				<label for="clanakType" class="label">
  					Tip članka
  				</label>
	  			<div class="select">
	  				<select #selectTip (change)="setTip()" required name="clanakType" class="select">
	  					<option selected value="false">Bez slike</option>
	  					<option value="true">Sa slikom</option>
	  				</select>
	  			</div>
  			</div>
  			<div class="field">
  				<label for="noviClanakName" class="label">
  					Ime
  				</label>
  				<div class="control">
  					<input type="text" [(ngModel)]="newSadrzaj.name" required name="noviClanakName" class="input">
  				</div>
  			</div>
  			<div class="field">
	    		<label for="noviClanakText" class="label">Tekst</label>
	    		<div class="control">
	    			<textarea type="text" [(ngModel)]="newSadrzaj.text" required name="noviClanakText" class="textarea"></textarea>
	    		</div>
	    	</div>
	    	<div class="field" *ngIf="clanakSlika">
	    		<label for="noviClanakImg" class="label">Slika</label>
	    		<div class="control">
	    			<input type="text" [(ngModel)]="newSadrzaj.img" name="noviClanakImg" class="input">
	    		</div>
	    	</div>
	    	<br>
	    	<button type="submit" [disabled]="!addSadrzajForm.form.valid" class="button is-info">Dodaj članak</button>
  		</form>
  	</div>
  </div>
</div>
