<div class="card">
	<header class="card-header">
    <p class="card-header-title">
      Upravljanje datotekama na serveru
		</p>
	</header>
	<div class="card-content">
		<div class="content">
				Na serveru su dva repozitorija, doc za dokumente i img za slike. img direktorij služi 
				kako bi u njemu bile slike koje se mogu dodijeliti člancima/sadržajima na USGZ stranici. doc služi kao 
				repozitorij za pohranu dokumenata poput statuta i sl.
		</div>
  	</div>
</div>
<span *ngIf="err" class="bottom-info red-alert">
	{{ err }}
</span>
<br>
<h3 class="is-size-3">doc repozitorij</h3>
<div class="columns">
	<div class="column is-half">
		<span [style.display]="error?'block':'none'" class="red-alert">
			{{ error }}
		</span>
		<br>
		<form (ngSubmit)="uploadDat()" #datForm="ngForm" enctype="multipart/form-data">
			<div class="file has-name">
				<label class="file-label">
					<input (change)="fileChangeEvent($event)" class="file-input" type="file" #fileInput name="datoteka" multiple="multiple">
					<span class="file-cta">
						<span class="file-icon">
							<i class="fa fa-upload"></i>
						</span>
						<span class="file-label">
							Izaberi dokumente za upload…
						</span>
					</span>
				</label>
			</div>
			<br>
			<small>
				Najveći broj datoteka u jednom prijenosu: 10
				<br>
				Najveća veličina pojedinačne datoteke: 100MB
				<br>
				Dopušteni formati: jpg | jpeg | png | gif | svg | doc | docx | xls | xlsx | ppt | pptx | pdf | txt
			</small>
			<br><br>
			<button type="submit" class="button is-info" [disabled]="!(filesToUpload.length>0) || !checkFileSizes(filesToUpload)">Učitaj datoteke</button>
		</form>
		<br>
		<span>
			Broj odabranih datoteka za upload: 
			<span [ngClass]="{'red-alert':filesToUpload.length>10}">
				{{ filesToUpload.length }}
			</span>
		</span>
		<br>
		<div class="box" *ngIf="filesToUpload.length > 0">
			<ul>
				<li *ngFor="let dat of filesToUpload">
					{{ dat.name }}
					<span [ngClass]="{'red-alert':dat.size>100000000}">
						{{ dat.size/1000000 | number:'1.1-2' }}MB
					</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="column is-half">
		<b>Upravljanje dokumentima na serveru</b>
		<br><br>
		<div class="itemList docList">
			<div *ngFor="let doc of savedDocs">
				<a (click)="addSelectItem(this.selectedDocs, 'uploads/doc/'+doc)">
					<figure [ngClass]="{'activeSelect': checkSelected(this.selectedDocs, 'uploads/doc/'+doc)}">
						<i [className]="setImgByExt(doc)"></i>
					</figure>
				</a>
				<button (click)="delItem('uploads/doc/'+doc)" class="delete"></button>
				<figcaption>
					<span>
						{{ doc.length<18?doc:doc.slice(0,15)+'...' }}
					</span>
				</figcaption>
				<span>
					{{ doc }}
				</span>
			</div>
		</div>
		<div class="box" *ngIf="selectedDocs.length > 0">
			<span>
				Označene datoteke:
			</span>
			<br>
			<span *ngFor="let selDoc of selectedDocs">
				{{ selDoc }}
			</span>
			<br>
			<a class="button" (click)="downloadFiles(selectedDocs)">
				<i class="fa fa-download" aria-hidden="true"></i>
				<span>
					Preuzmi
				</span>
			</a>
			<button (click)="delItems(selectedDocs)" class="button">
				<i class="fa fa-trash" aria-hidden="true"></i>
				<span>
					Izbriši
				</span>
			</button>
		</div>
	</div>
</div>
<hr>
<h3 class="is-size-3">img repozitorij</h3>
<div class="columns">
	<div class="column is-half">
		<br>
		<form (ngSubmit)="uploadImgs()" #imgsForm="ngForm" enctype="multipart/form-data">
			<div class="file has-name">
				<label class="file-label">
					<input (change)="imgChangeEvent($event)" class="file-input" type="file" #imgInput name="slika" multiple="multiple" accept="application/x-zip-compressed,image/*">
					<span class="file-cta">
						<span class="file-icon">
							<i class="fa fa-upload"></i>
						</span>
						<span class="file-label">
							Izaberi slike za upload…
						</span>
					</span>
				</label>
			</div>
			<br>
			<small>
				Najveći broj datoteka u jednom prijenosu: 10
				<br>
				Dopušteni formati: jpg | jpeg | png | gif | svg
			</small>
			<br><br>
			<button type="submit" class="button is-info" [disabled]="!imgsToUpload.length>0">Učitaj datoteke</button>
		</form>
		<br>
		<span>
			Broj odabranih datoteka za upload: 
			<span [ngClass]="{'red-alert':imgsToUpload.length>10}">
				{{ imgsToUpload.length || 0 }}
			</span>
		</span>
		<br>
		<div class="box" *ngIf="imgsToUpload.length > 0">
			<ul>
				<li *ngFor="let dat of imgsToUpload">
					{{ dat.name }}
					<span [ngClass]="{'red-alert':dat.size>100000000}">
						{{ dat.size/1000000 | number:'1.1-2' }}MB
					</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="is-half">
		<b>Upravljanje slikama na serveru</b>
		<br><br>
		<div class="itemList imgList">
			<div *ngFor="let img of savedImgs">
				<a (click)="addSelectItem(this.selectedImgs, 'uploads/img/'+img)">
					<figure [ngClass]="{'activeSelect': checkSelected(this.selectedImgs, 'uploads/img/'+img)}">
						<img src="uploads/img/{{img}}">
					</figure>
				</a>
				<button (click)="delItem('uploads/img/'+img)" class="delete"></button>
				<figcaption>
					<span>
						{{ img.length<18?img:img.slice(0,15)+'...' }}
					</span>
				</figcaption>
				<span>
					{{ img }}
				</span>
			</div>
		</div>
		<div class="box" *ngIf="selectedImgs.length > 0">
			<span>
				Označene datoteke:
			</span>
			<br>
			<span *ngFor="let selImg of selectedImgs">
				{{ selImg }}
			</span>
			<br>
			<a class="button" (click)="downloadFiles(selectedImgs)">
				<i class="fa fa-download" aria-hidden="true"></i>
				<span>
					Preuzmi
				</span>
			</a>
			<button (click)="delItems(selectedImgs)" class="button">
				<i class="fa fa-trash" aria-hidden="true"></i>
				<span>
					Izbriši
				</span>
			</button>
		</div>
	</div>
</div>