<nav class="navbar is-info" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" routerLink="/">
				<img src="uploads/logo.svg" alt="Udruga studenata grada Zaprešića">
			</a>
			<button class="button navbar-burger">
					<span></span>
					<span></span>
					<span></span>
				</button>
		</div>
		<div class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" routerLink="/clanovi" routerLinkActive="routerlink-active">Članovi</a>
				<a class="navbar-item" routerLink="/sadrzaj" routerLinkActive="routerlink-active">Sadržaj</a>
				<a class="navbar-item" routerLink="/datoteke" routerLinkActive="routerlink-active">Datoteke</a>
			</div>
			<div class="navbar-end"></div>
		</div>
	</div>
</nav>
<br>
<div class="container">
	<router-outlet></router-outlet>
</div>
<br>
<footer class="footer is-info">
	<div class="container">
		<h3 class="is-size-3">
			Upotreba MEAN stack aplikacije u održavanju stranice i administriranju udruge
		</h3>
		<span>Hrvoje Husnjak 2018.</span>
	</div>
</footer>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function () {

	  // Get all "navbar-burger" elements
	  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

	  // Check if there are any navbar burgers
	  if ($navbarBurgers.length > 0) {

	    // Add a click event on each of them
	    $navbarBurgers.forEach(function ($el) {
	      $el.addEventListener('click', function () {

	        // Get the target from the "data-target" attribute
	        var target = $el.dataset.target;
	        var $target = document.getElementById(target);

	        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
	        $el.classList.toggle('is-active');
	        $target.classList.toggle('is-active');

	      });
	    });
	  }

	});
</script>